$background-color: #565b5e;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-size: 17px;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
  
.main-wrapper {
    width: 100%;
    min-height: 100vh;
    // background-blend-mode: darken;
    background-color: $background-color;
    background-image: url(images/thai_pattern_transparent.png); 
    background-blend-mode: luminosity;
    background-size: 300px 300px;
    background-repeat: repeat;
    // background-position: center;
    // background-attachment: fixed;
}
  
.content-section {
    color: aliceblue;
    text-shadow: 0 0 10px #999494;
}
  
.comment-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    .list-group-item {
        /* background-color: #666f7091;
        margin-top: 2px;
        margin-bottom: 2px;
        border-radius: 13px; */
        max-width: 700px;
    }
    .card-footer .btn {
        margin-left: 5px;
    }
    .card-footer {
        background-color: rgb(163 183 182 / 29%);
        border-radius: 15px;
    }
    .card {
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }
}

.contacts-list {
    .list-group-item {
        background: none;
    }
}

.social-icons {
    .list-group-item {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        padding: 0px 5px;
        img {
            width: 30px;
        }
    }
}

// header {
//     // background-color: #20211e;
// }

#header-navbar {
    background-color: #25272a;
    #signin-btn, #profile-btn {
        color: white;
    }
    #signup-btn, #logout-btn {
        color:rgb(27, 27, 28);
        background-color: #a9a47c;
    }
}

#footer {
    background-color: rgb(27, 27, 28);
    color: rgb(191, 192, 196);
    .footer-inner {
        // padding: 30px;
    }
}

.attraction-description {
    background-color: #25272a7f;
}

.point-description {
    &__content {
        font-size: 18px;
        font-weight: 500;
        color:rgb(218, 218, 218);
    }
    padding: 5px 15px 15px 15px;
}