[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
python-dotenv = {extras = ["cli"], version = "*"}
django-ckeditor = "*"
django-imagekit = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
djoser = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"
